In [13]:
import pandas as pd
s_p = pd.read_csv('data/students_performance.csv', sep = ',')
s_p.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

gender — пол;
race/ethnicity — раса/этническая принадлежность;
parental level of education — уровень образования родителей;
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

## Задание 9.1
Данные о скольких студентах содержатся в таблице?

In [ ]:
s_p.shape[0]

## Задание 9.2
Каков балл по письму у студента под индексом 155?

In [14]:
s_p.loc[155, 'writing score']

88

## Задание 9.3
Сколько суммарно пропущенных значений в таблице?

In [16]:
s_p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

## Задание 9.3
Сколько суммарно пропущенных значений в таблице?
 0

## Задание 9.4
Сколько столбцов в таблице имеет тип данных object?
 5
 
## Задание 9.5
Какой объём памяти (в килобайтах) занимает таблица?
Округлите ответ до целого числа.
 63

## Задание 9.6
Каков у студентов средний балл по математике?
Округлите ответ до целого числа.

In [30]:
round(s_p['math score'].mean())

66

## Задание 9.7
Какая расовая группа является самой крупной в учебном заведении?
В качестве ответа введите идентификатор группы (A, B, C, D, F).

In [19]:
s_p['race/ethnicity'].mode()

0    group C
dtype: object

## Задание 9.8
Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
Округлите ответ до целого числа.

In [32]:
round(s_p[s_p['test preparation course'] == "completed"]['reading score'].mean())

74

## Задание 9.9
Сколько студентов получили 0 баллов по математике?

In [33]:
s_p[s_p['math score'] == 0].shape[0]

1

## Задание 9.10
Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
Округлите ответ до целого числа.
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);

In [38]:
m1 = round(s_p[s_p['lunch'] == 'standard']['math score'].mean())
m2 = round(s_p[s_p['lunch'] == 'free/reduced']['math score'].mean())
print(m1>m2)
max(m1, m2)

True

70

## Задание 9.11
Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
Округлите ответ до целого числа.
Не указывайте знак %.
parental level of education — уровень образования родителей;

In [50]:
round(s_p['parental level of education'].value_counts(normalize=True)*100)

some college          23.0
associate's degree    22.0
high school           20.0
some high school      18.0
bachelor's degree     12.0
master's degree        6.0
Name: parental level of education, dtype: float64

## Задание 9.12
Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?
Округлите ответ до целого и запишите модуль этого числа.

In [59]:
mmA = s_p[s_p['race/ethnicity'] == 'group A']['writing score'].median()
mmC = s_p[s_p['race/ethnicity'] == 'group C']['writing score'].mean()
print(abs(round(mmA - mmC)))
abs(round(s_p[s_p['race/ethnicity'] == 'group A']['writing score'].median()-s_p[s_p['race/ethnicity'] == 'group C']['writing score'].mean()))

6

6